@charset "utf-8";

body {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-size: 1.05vw;
	color: #848688;
}

img { max-width: 100%; }

h1, h2, h3, h4, h5, h6 { color: #606062; }
h1 { font-size: 2.2em }
h2 { font-size: 2.0em }
h3 { font-size: 1.8em }
h4 { font-size: 1.6em }
h5 { font-size: 1.4em }
h6 { font-size: 1.2em }

.no-border { border: none }
.no-padding { padding: 0 }
.no-margin { margin: 0 }

.no-list-style { 
  list-style: none; 
  padding: 0; 
  margin: 0;
}

.inner { padding: 10px 20px; }

.padding-0 { padding: 0 }
.padding-5px { padding: 5px }
.padding-10px { padding: 10px }
.padding-15px { padding: 15px }
.padding-20px { padding: 20px }
.padding-25px { padding: 25px }
.padding-30px { padding: 30px }

.padding-y-0    { padding-top: 0; padding-bottom: 0 }
.padding-y-5px  { padding-top: 5px; padding-bottom: 5px }
.padding-y-10px { padding-top: 10px; padding-bottom: 10px }
.padding-y-15px { padding-top: 15px; padding-bottom: 15px }
.padding-y-20px { padding-top: 20px; padding-bottom: 20px }
.padding-y-25px { padding-top: 25px; padding-bottom: 25px }

.padding-x-0    { padding-left: 0; padding-right: 0 }
.padding-x-5px  { padding-left: 5px; padding-right: 5px }
.padding-x-10px { padding-left: 10px; padding-right: 10px }
.padding-x-15px { padding-left: 15px; padding-right: 15px }
.padding-x-20px { padding-left: 20px; padding-right: 20px }
.padding-x-25px { padding-left: 25px; padding-right: 25px }

.padding-right-0    { padding-right: 0 }
.padding-right-5px  { padding-right: 5px }
.padding-right-10px { padding-right: 10px }
.padding-right-15px { padding-right: 15px }
.padding-right-20px { padding-right: 20px }
.padding-right-25px { padding-right: 25px }

.padding-left-0     { padding-left: 0 }
.padding-left-5px   { padding-left: 5px }
.padding-left-10px  { padding-left: 10px }
.padding-left-15px  { padding-left: 15px }
.padding-left-20px  { padding-left: 20px }
.padding-left-25px  { padding-left: 25px }

.padding-top-0      { padding-top: 0 }
.padding-top-5px    { padding-top: 5px }
.padding-top-10px   { padding-top: 10px }
.padding-top-15px   { padding-top: 15px }
.padding-top-20px   { padding-top: 20px }
.padding-top-25px   { padding-top: 25px }

.padding-bottom-0     { padding-bottom: 0 }
.padding-bottom-5px   { padding-bottom: 5px }
.padding-bottom-10px  { padding-bottom: 10px }
.padding-bottom-15px  { padding-bottom: 15px }
.padding-bottom-20px  { padding-bottom: 20px }
.padding-bottom-25px  { padding-bottom: 25px }

.margin-0 { margin: 0 }
.margin-5px { margin: 5px }
.margin-10px { margin: 10px }
.margin-15px { margin: 15px }
.margin-20px { margin: 20px }
.margin-25px { margin: 25px }
.margin-30px { margin: 30px }

.navigation.pagination { text-align: center; display: block }
.navigation.pagination .screen-reader-text { display: none }
.navigation.pagination .page-numbers { display: inline-block; min-width: 30px; padding: 5px; font-weight: bold; }
.navigation.pagination .page-numbers:hover { background-color: #ED3237; color: white }
.navigation.pagination .page-numbers.current:hover { background-color: #888 }

.hentry {
  position: relative;
	border: 1px solid #CCC;
	margin: 0 0 10px 0;
}
.post-title {
	margin: 0;
	font-size: 1.8em;
}
.post-title a { color: #606062; text-decoration: none }
.post-title a:hover { color: #ED3237; text-decoration: none }
.post-title a:active { color: #003cb3; text-decoration: none }

.post-content { font-size: .9em }

.jumplink-wrap { text-align: right; }
.jumplink img { width: 28px; }

.post-header-img {
  height: 100%;
  left: 0;
  top: 0;
  background: #EEE center/cover no-repeat;
}

#site-footer {
  background-color: #ED3237;
  color: white;
  line-height: .8;
}
#site-footer a {
  color: white;
  text-decoration: none;
  font-size: .7em;
}

a { color: #ED3237; text-decoration: none }
a:hover { color: #003cb3; text-decoration: none }
a:active { color: #003cb3; text-decoration: underline }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, 
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, 
.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
.col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, 
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, 
.col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, 
.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding: 0;
}

.mobile { display: none }

@media (max-width: 980px) {
  .desktop { display: none }
}

@media (min-width: 768px) {
  .vertical-middle {
    table-layout: fixed;
    display: table;
    width: 100%;
  }
  .vertical-middle .col-lg-1, .vertical-middle .col-lg-10, .vertical-middle .col-lg-11, .vertical-middle .col-lg-12,
  .vertical-middle .col-lg-2, .vertical-middle .col-lg-3, .vertical-middle .col-lg-4, .vertical-middle .col-lg-5,
  .vertical-middle .col-lg-6, .vertical-middle .col-lg-7, .vertical-middle .col-lg-8, .vertical-middle .col-lg-9, 
  .vertical-middle .col-md-1, .vertical-middle .col-md-10, .vertical-middle .col-md-11, .vertical-middle .col-md-12, 
  .vertical-middle .col-md-2, .vertical-middle .col-md-3, .vertical-middle .col-md-4, .vertical-middle .col-md-5, 
  .vertical-middle .col-md-6, .vertical-middle .col-md-7, .vertical-middle .col-md-8, .vertical-middle .col-md-9, 
  .vertical-middle .col-sm-1, .vertical-middle .col-sm-10, .vertical-middle .col-sm-11, .vertical-middle .col-sm-12, 
  .vertical-middle .col-sm-2, .vertical-middle .col-sm-3, .vertical-middle .col-sm-4, .vertical-middle .col-sm-5, 
  .vertical-middle .col-sm-6, .vertical-middle .col-sm-7, .vertical-middle .col-sm-8, .vertical-middle .col-sm-9, 
  .vertical-middle .col-xs-1, .vertical-middle .col-xs-10, .vertical-middle .col-xs-11, .vertical-middle .col-xs-12, 
  .vertical-middle .col-xs-2, .vertical-middle .col-xs-3, .vertical-middle .col-xs-4, .vertical-middle .col-xs-5, 
  .vertical-middle .col-xs-6, .vertical-middle .col-xs-7, .vertical-middle .col-xs-8, .vertical-middle .col-xs-9 {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
}

.post-resume-link { color: #848688 }
.post-resume-link .hentry { height: 220px }
.post-resume-link .hentry .post-header-img { opacity: .8 }
.post-resume-link:hover { color: #606062 }
.post-resume-link:hover .hentry .post-header-img { opacity: 1; background-color: #ED3237 }
.post-resume-link:hover .hentry .post-title { color: #ED3237 }
.post-resume-link .jumplink-wrap { position: absolute; bottom: 0; right: 0 }

.hentry.mini { background-color: #F5F5F5; margin: 0; height: 110px }
.hentry.mini::not(::last-of-type) { border-bottom: none }
.hentry.mini .post-title { font-size: .9em }
.hentry.mini .post-header-img { background-color: #D2D3D5; background-size: auto 70% }
.hentry.mini .jumplink-wrap { position: absolute; bottom: 0; right: 0 }

#site-search .search-form { position: relative; margin-top: 20px }
#site-search .search-form label { margin-bottom: 0 }
#site-search .screen-reader-text { display:  none }
#site-search .search-field {
  background: white;
  border: 1px solid #AAA;
  font-family: inherit;
  font-size: 1.8em;
  width: 100%;
  padding-right: 21%;
}
#site-search .search-submit {
  position: absolute;
  border: none; 
  background: transparent no-repeat center url(../imgs/icon-search.png);
  background-size: 24px;
  margin: 0;
  padding: 0;
  width: 20%;
  height: 100%;
  font-size: 0;
  right: 0;
  opacity: .4;
}
#site-search .search-submit:hover { opacity: 1 }

#page-support { margin: 20px auto; width: 60% }

#site-social-links a:hover, #site-langs a:hover { opacity: .7 }