@charset "utf-8";

#frontpage-top-posts {
	background-color: #EEE;
	background-image: -webkit-linear-gradient(top, white, transparent);
	background-image: -moz-linear-gradient(top, white, transparent);
	background-image: -ms-linear-gradient(top, white, transparent);
	background-image: -o-linear-gradient(top, white, transparent);
	background-image: linear-gradient(top, white, transparent);
	padding: 20px 10px;
	margin: 20px 0;
}
#frontpage-top-posts .post-mini-wrap > a {
	display: block;
	margin: 0 10px;
	overflow: hidden;
}
#frontpage-top-posts .post-mini-wrap > a:hover {
	background-color: white;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
#frontpage-top-posts .post { border: none;	margin: 0; }
#frontpage-top-posts .post-content-wrap { position: static; }
#frontpage-top-posts .post .post-header-img { width: 33%; opacity: .8; }
#frontpage-top-posts .post:hover .post-header-img { opacity: 1; }

#frontpage-top-posts .post .post-cat { font-size: 1.4em; margin: 0 0 10px; }
#frontpage-top-posts .post .post-title { font-size: .9em; }